<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>SSSVPN - свободный VPN для друзей и знакомых Кролика</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous" />
    
    
    {% load static %}


    <!-- Favicons -->
    <link rel="apple-touch-icon" href={% static "mainpage/images/favicons/favicon-180x180.png" %} sizes="180x180" />
    <link rel="icon" href={% static "mainpage/images/favicons/favicon-32x32.png" %} sizes="32x32" type="image/png"  />
    <link rel="icon" href={% static "mainpage/images/favicons/favicon-16x16.png" %} sizes="16x16" type="image/png" />
    <meta name="theme-color" content="#7952b3" />



    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }
      
      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    <!-- Custom styles for this template -->
    <link href="https://fonts.googleapis.com/css?family=Playfair&#43;Display:700,900&amp;display=swap" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Shadows Into Light" />
    <style>
      h1 {
        font-family: 'Shadows Into Light', serif;
        font-size: 96px;
      }
    </style>

    <link href={% static "mainpage/css/app.css" %} rel="stylesheet" />
    <link href={% static "mainpage/lightbox/css/lightbox.css" %} rel="stylesheet" />
  </head>

  <body>
    <main>
      <section id="notification">
        {% if check %}
          <div class="alert alert-success mt-1 mb-0 mx-3" role="alert">
            Ваш текущий IP: {{ ip_addr }}, VPN успешно подключен. Вы можете пользоваться <a href="#blocked_site" class="alert-link">заблокированными ресурсами</a>.
          </div>
        {% else %}
          <div class="alert alert-warning mt-1 mb-0 mx-3" px-4 py-5 role="alert">
            В настоящий момент вы не подключены к sssvpn. Воспользуйтесь инструкцией ниже и <a href="{{ url }}" class="alert-link">перезагрузите страницу</a> для повторной проверки.
          </div>
        {% endif %}
      </section>

      <section id="download">
        <div class="px-4 pt-4 text-center">
          <p>
            <a href="{{ url }}"><img src={% static "mainpage/images/logo.png" %} alt="logo" loading="lazy" /></a>
          </p>
          <div class="col-lg-6 mx-auto pt-4">
            <p class="lead mb-4">Анонимный VPN без ограничения скорости и объема трафика. Основан на технологии Shadowsocks. Физически сервер находится в Германии. Поддерживаются платформы Windows, Android и iOs. Для начала - скачайте клиент для своего устройства.</p>
            <div class="d-grid p-4 gap-2 d-sm-flex justify-content-sm-center">
              <a class="btn btn-outline-secondary btn-lg px-4" href="{{ windows_client }}"><img style="padding: 3px;" src={% static "mainpage/images/logo_windows.png" %} width="30" height="30" />Windows</a>
              <a class="btn btn-outline-secondary btn-lg px-4" href="{{ android_client }}"><img style="padding: 3px;" src={% static "mainpage/images/logo_android.png" %} width="30" height="30" />Android</a>
              <a class="btn btn-outline-secondary btn-lg px-4" href="{{ ios_client }}"><img style="padding: 3px;" src={% static "mainpage/images/logo_apple.png" %} width="30" height="30" />Apple</a>
            </div>
          </div>
        </div>
      </section>

      <section id="instruction">
        <div class="px-4 py-5 text-center">
          <h2 class="display-6 text-center mb-4">Настройки</h2>
          <div class="col-lg-6 mx-auto lead mb-4">
            <p>
              Установите клиент для своей операционной системы и добавьте в настройках новый сервер, используя данные из таблицы ниже, либо с помощью <b>QR-кода</b>. Если не получается - обратитесь в наш <a href="{{ url_support }}" class="link-underline-light">Telegram-канал</a>.
            </p>
          </div>
          <div class="col-lg-6 mx-auto mb-4">
            <table class="table">
              <thead>
                <tr>
                  <th>Параметр</th>
                  <th>Значение</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Сервер или host (IP)</td>
                  <td>{{ host }}</td>
                </tr>
                <tr>
                  <td>Порт</td>
                  <td>{{ port }}</td>
                </tr>
                <tr>
                  <td>Пароль</td>
                  <td>{{ password }}</td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td>Метод шифрования</td>
                  <td>{{ encription }}</td>
                </tr>
              </tfoot>
            </table>
          </div>
          <div class="col-lg-6 pt-4 mx-auto">
            <a href={% static "mainpage/images/qr.png" %} data-lightbox="image-1"><img src={% static "mainpage/images/qr.png" %} class="rounded mx-auto d-block img-thumbnail" alt="QR" data-lightbox="image-1" width="200" height="200" loading="lazy" /></a>
          </div>
          <div class="col-lg-6 p-4 mx-auto">
            <small class="text-muted text-break">{{ ss_link }}</small>
          </div>
        </div>
      </section>

      <section id="blocked_site">
        <div class="bg-dark text-secondary px-4 py-5 text-center">
          <div class="py-2">
            <h2 class="display-6 text-center mb-1 text-white">Заблокированные ресурсы</h2>
            <div class="col-lg-6 mx-auto">
              <p class="lead mb-4">проверьте работу своего VPN</p>
              <div class="d-flex flex-column flex-md-row p-4 gap-4 py-md-5 align-items-center justify-content-center">
                <div class="lead list-group">
                  <a href="https://rutracker.org/forum/index.php" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                    <div class="d-flex gap-2 w-100 justify-content-between">
                      <div>
                        <h5 class="mb-2"><img src={% static "mainpage/images/logo_rutracker.png" %} /> RuTracker.org (ранее — Torrents.ru)</h5>
                        <p class="mb-0 opacity-75">Крупнейший русскоязычный BitTorrent-трекер. На конец 2023 года более 14 миллионов пользователей, более 2,242 миллиона «живых» раздач, суммарный размер раздач трекера составляет более 5,222 петабайт.</p>
                      </div>
                    </div>
                  </a>
                  <a href="http://rutor.info/" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                    <div class="d-flex gap-2 w-100 justify-content-between">
                      <div>
                        <h5 class="mb-2"><img src={% static "mainpage/images/logo_rutor.png" %} /> Rutor</h5>
                        <p class="mb-0 opacity-75">Один из самых популярных российских ресурсов, по обмену торрент-файлами. Фильмы, сериалы, музыка, программы, игры и т.п. Активное сообщество. Ежедневно появляются сотни новых раздач. Без регистрации.</p>
                      </div>
                    </div>
                  </a>
                  <a href="https://flibusta.is/" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                    <div class="d-flex gap-2 w-100 justify-content-between">
                      <div>
                        <h5 class="mb-2"><img src={% static "mainpage/images/logo_flibusta.png" %} /> Флибуста</h5>
                        <p class="mb-0 opacity-75">Бесплатная некоммерческая библиотека. Удобный подбор книг по интересам, жанрам, поджанрам и т.п. На 2021 год 476 165 томов, 172 976 авторов, 1037 гигабайт</p>
                      </div>
                    </div>
                  </a>
                  <a href="https://www.instagram.com/" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                    <div class="d-flex gap-2 w-100 justify-content-between">
                      <div>
                        <h5 class="mb-2"><img src={% static "mainpage/images/logo_instagram.png" %} /> Instagram</h5>
                        <p class="lead vmb-0 opacity-75">Одна из крупнейших соцсетей. Была заблокирвана практически сразу после начала СВО на Украине.</p>
                      </div>
                    </div>
                  </a>
                </div>
              </div>

              <p class="lead fs-5 py-4 mb-4">
                &#171;... В первом полугодии по требованию Роскомнадзора в России <b>заблокировано или удалено более 885 тысяч сайтов</b> с запрещенной законодательством информацией, что на 85% больше, чем за аналогичный период 2022 года, рассказали “Коммерсант” в ведомстве. Также выросло количество заблокированных или удаленных отдельных материалов в сети — до 1,1 млн, что на 10% больше, чем за весь 2022 год ...&#187;
                <a href="https://www.kommersant.ru/doc/6199119" class="opacity-50 text-nowrap link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Источник -></a>
              </p>
              <p class="fs-5 mb-4">В каких ещё странах блокируют VPN: Китай, Беларусь, Северная Корея, Туркменистан, Уганда, Ирак, Турция, ОАЭ и Оман.</p>
            </div>
          </div>
        </div>
      </section>

      <section id="support">
        <div class="px-4 py-5 text-center">
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a class="btn btn-outline-secondary btn-lg px-4" href="{{ url_support }}"><img style="padding: 3px;" src={% static "mainpage/images/logo_telegram.png" %} width="30" height="30" />Техподдержка</a>
          </div>
        </div>
        <!-- Разделитель -->
        <div class="b-example-divider"></div>
      </section>
    </main>

    <section id="scripts">
      <!-- Элемент bootstrap -->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
      <!-- jQuery -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
      <!-- Скрипт для отображения картинок -->
      <script src={% static "mainpage/lightbox/js/lightbox.js" %}></script>
    </section>
  </body>
</html>
